# LaTeX build artifacts
*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lol
*.lot
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl-SAVE-ERROR
overfulls.txt

# Generated documents
*.pdf
*.dvi
*.ps
Tesi_build*
texput.*

# Common local clutter
__pycache__/
*.pyc
.DS_Store

# Bundled ClassicThesis template material not used by this thesis
CHANGES
COPYING
LISTOFFILES
README
ClassicThesis.tex
ClassicThesis.tcp
ClassicThesis.tps
Chapters/
Examples/
gfx/example_*.jpg
